example/tutorial/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xs:element name="Trade">
    <xs:complexType>
      <xs:all>
        <xs:element name="buySell" maxOccurs="1" minOccurs="1"/>
        <xs:element name="ticker" maxOccurs="1" minOccurs="1"/>
        <xs:element name="price" maxOccurs="1" minOccurs="1" type="xs:decimal"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
